# Master key must be at least 16 bytes, composed of valid UTF-8 characters
MEILI_MASTER_KEY = ""
MEILI_VERSION = "v1.1"
MEILI_PORT = 7700
MEILI_URL = "localhost"
MEILI_SERVICE = "meilisearch"

# Container image tag
TAG = "0.1.0"

# Docker project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME = meili_wine